*{
  margin: 0;
  padding:0;
}
.container{
  height: 100vh;
  width: 100%;

}
input{
  font-weight: bold;
  font-size: large;
 margin: 20px;
}
ul li{
  margin-left: 40px;
  font-size: larger;
  font-weight: bold;
  font-variant: small-caps;
}